@charset "UTF-8";

@font-face {
  font-family: "Aktifo";
  font-display: swap;
  src: url("../fonts/Aktifo-A-Bold.woff2") format("woff2"), url("../fonts/Aktifo-A-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aktifo";
  font-display: swap;
  src: url("../fonts/Aktifo-A-Book.woff2") format("woff2"), url("../fonts/Aktifo-A-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aktifo";
  font-display: swap;
  src: url("../fonts/Aktifo-A-Medium.woff2") format("woff2"), url("../fonts/Aktifo-A-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Указываем box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
h5,
h6 p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */
}

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: 140%;
  font-size: 16px;
  color: #343a45;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Aktifo";
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  font-size: 16px;
  font-family: "Aktifo";
  font-weight: 400;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 22px 32px;
  line-height: 140%;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid transparent;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

.btn:active {
  transform: translateY(2px);
}

.fillBtn {
  background-color: #ddcfc6;
  color: #343a45;
}

.ghostBtn {
  background-color: transparent;
  color: #ddcfc6;
  border-color: #ddcfc6;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input:focus {
  outline: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.thanks-section {
  overflow: hidden;
  padding-top: 67px;
  min-height: 100vh;
  height: 100%;
  background: #e3293e;
  position: relative;
}

.header-logo {
  margin-bottom: 50px;
  width: 126px;
  height: 58px;
}

.header-logo svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}

.thanks-section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 111%;
  color: #ffffff;
  margin-bottom: 29px;
}

.thanks-section__text {
  max-width: 740px;
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #ffffff;
  margin-bottom: 35px;
}

.thanks-section__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 930px;
  height: 930px;
  pointer-events: none;
  transform: translate(160px, -170px);
}

.thanks-section__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

.thanks-section__top {
  position: relative;
}

.thanks-section__form {
  padding: 26px 30px;
  padding-bottom: 41px;
  padding-right: 54px;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(163, 28, 43, 0.2);
  border-radius: 21px;
  width: fit-content;
}

.thanks-section__wrapper {
  display: flex;
  margin-bottom: 33px;
}

.thanks-section__wrapper .form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.thanks-section__wrapper .form-label._err .form-input {
  border: 1px solid red;
}

.thanks-section__wrapper .thanks-section__w {
  margin-right: 51px;
  display: flex;
  flex-direction: column;
}

.thanks-section__wrapper .form-input {
  background: #bcddfe;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 7px 10px;
  width: 282px;
}

.thanks-section__wrapper .form-span,
.thanks-section__wrapper .form-descr {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #b3b3b3;
  margin-bottom: 8px;
}

.thanks-section__wrapper .price-label .form-input {
  text-align: center;
  padding: 19px;
  width: 100%;
  max-width: 167px;
}

.thanks-section__wrapper .price-label .form-descr {
  margin-top: 14px;
  font-size: 13px;
  margin-bottom: 0;
}

.form__submit {
  padding: 16px;
  background: #feeb46;
  box-shadow: 0px 4px 24px rgba(163, 28, 43, 0.2);
  border-radius: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  width: 282px;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.form__submit:active {
  transform: translateY(3px);
}

.form__submit:hover {
  transform: scale(1.02);
}

.form__footer {
  display: flex;
  align-items: center;
}

.form__agree {
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  position: relative;
  margin-left: 50px;
  position: relative;
}

.form__agree .form-checkbox {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.form__agree .form-checkbox:checked + .form__agree-span:after {
  opacity: 1;
}

.form__agree .form__agree-span {
  padding-left: 33px;
}

.form__agree .form__agree-span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background: #000000;
  border-radius: 3px;
}

.form__agree .form__agree-span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='13' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.1251 5.62569L0.00378418 7.74701L2.5355 10.2787L4.59998 12.3432L4.65682 12.4L14.9038 2.15304L12.7825 0.0317243L4.65682 8.15741L2.1251 5.62569Z' fill='%23FEFEFE'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  opacity: 0;
}

.thanks-section__footer {
  width: 100%;
  justify-content: space-between;
  padding-top: 43px;
  display: flex;
  padding-bottom: 75px;
}

.thanks-section__footer .footer__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 3px;
}

.thanks-section__footer .footer__links {
  margin-bottom: 28px;
  padding-bottom: 28px;
  position: relative;
}

.thanks-section__footer .footer__links:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #fff;
  width: 82px;
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__socials .footer__social {
  margin-right: 15px;
  width: 32px;
  height: 27px;
}

.footer__socials .footer__social svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__btn {
  cursor: pointer;
  padding: 14px 62px;
  background: #000000;
  border-radius: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 30px;
  width: fit-content;
  transition: transform 0.3s ease-in-out;
}

.footer__btn:active {
  transform: translateY(3px);
}

.footer__descr {
  width: fit-content;
  margin-right: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  max-width: 314px;
}

@media (max-width: 1440px) {
  .thanks-section__image {
    width: 830px;
    height: 830px;
  }
}

@media (max-width: 1380px) {
  .thanks-section__title {
    font-size: 60px;
    margin-bottom: 16px;
  }

  .thanks-section__text {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 42px;
    max-width: 525px;
  }

  .thanks-section__form {
    padding: 19px 30px;
    padding-right: 22px;
    padding-bottom: 17px;
  }

  .thanks-section__wrapper .form-input,
  .form__submit {
    width: 220px;
  }

  .form__submit {
    font-size: 16px;
    padding: 11px;
  }

  .thanks-section__wrapper .thanks-section__w {
    margin-right: 26px;
  }

  .thanks-section__wrapper .price-label .form-input {
    padding: 13px;
  }

  .thanks-section__wrapper .price-label .form-descr {
    margin-top: 10px;
  }

  .thanks-section__wrapper {
    margin-bottom: 10px;
  }

  .form__agree {
    margin-left: 27px;
    font-size: 10px;
    line-height: 15px;
  }

  .thanks-section__wrapper .form-span {
    margin-bottom: 5px;
  }

  .thanks-section__image {
    width: 60%;
    transform: translate(10%, -170px);
  }

  .footer__left {
    display: flex;
    align-items: center;
  }

  .footer__socials {
    order: -1;
  }

  .thanks-section__footer .footer__links {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 16px;
  }

  .thanks-section__footer .footer__links:after {
    top: 0;
    bottom: 0;
    left: 0px;
    width: 1px;
    height: 100%;
  }

  .thanks-section__footer .footer__link {
    font-size: 14px;
  }

  .footer__btn {
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 32px;
    padding: 14px 41px;
  }

  .footer__descr {
    font-size: 14px;
    line-height: 140%;
    max-width: 245px;
  }

  .footer__right {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1115px) {
  .thanks-section__footer {
    flex-direction: column;
    justify-content: center;
  }

  .footer__left,
  .footer__right {
    flex-direction: column;
    justify-content: center;
  }

  .footer__socials {
    order: inherit;
    margin: 26px 0;
  }

  .footer__links {
    text-align: center;
    position: static;
  }

  .thanks-section__footer .footer__links:after {
    display: none;
  }

  .footer__socials .footer__social:last-child {
    margin-right: 0;
  }

  .footer__btn {
    margin-right: 0;
    margin-top: 26px;
    order: 2;
  }

  .footer__descr {
    width: 100%;
    max-width: inherit;
    text-align: center;
  }

  .thanks-section__image {
    position: static;
    transform: none;
    margin: auto;
    margin-top: -8vw;
    width: 100%;
    height: 100vw;
    transform: none;
  }

  .thanks-section__image img {
    object-position: center;
  }

  .thanks-section__form {
    margin: auto;
    margin-top: -16vw;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 98%;
  }
}

@media (max-width: 768px) {
  .thanks-section {
    padding-top: 37px;
  }

  .thanks-section__text {
    max-width: 75%;
    margin-bottom: 0;
  }

  .thanks-section__form {
    width: 100%;
  }

  .thanks-section__w {
    width: 50%;
  }

  .thanks-section__wrapper .form-input,
  .form__submit {
    width: 100%;
  }

  .form__submit {
    width: 50%;
  }
}

@media (max-width: 610px) {
  .header-logo {
    width: 93px;
    height: 43px;
    margin-bottom: 28px;
  }

  .thanks-section {
    padding-top: 20px;
  }

  .thanks-section__top {
    display: flex;
    flex-direction: column;
  }

  .thanks-section__title {
    order: 1;
    font-size: 30px;
  }

  .thanks-section__image {
    order: 2;
  }

  .thanks-section__text {
    max-width: 100%;
    order: 3;
    margin-top: -50px;
  }

  .thanks-section__form {
    margin-top: 17px;
    padding: 25px 20px;
  }

  .thanks-section__wrapper .price-label .form-input {
    max-width: 124px;
  }

  .thanks-section__wrapper {
    flex-direction: column;
  }

  .thanks-section__w {
    margin-right: 0;
    width: 100%;
  }

  .thanks-section__wrapper .form-label {
    margin-bottom: 20px;
  }

  .form-descr br {
    display: none;
  }

  .form__footer {
    flex-direction: column;
  }

  .form__submit {
    width: 80%;
  }

  .thanks-section__footer .footer__link {
    width: fit-content;
    margin: auto;
  }

  .thanks-section__footer .footer__link:not(:last-child) {
    margin-bottom: 15px;
  }

  .thanks-section__footer .footer__link:last-child {
    max-width: 200px;
  }

  .form__agree {
    margin-left: 0;
    align-self: flex-start;
    order: -1;
    margin-bottom: 34px;
  }

  .thanks-section__footer {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .container {
    padding: 0 10px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}